body{
    height: 100vh;
    background-color: black;
}

.continer-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.d-main{
    background-color: rgb(43, 52, 52);
    border: 2px solid red;
    width: 30%;
    /* display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; */
    padding: 10px;

}

h1{
    font-size: 17px;
    text-align: center;
    font-weight: 600;
}

h2{
    width:100%;
    color: white;
    word-wrap: break-word
}

.pmgr-top{
    display:flex;
    width: 100%;
    /* border: 2px solid green;  */
    justify-content: space-between;
}


.pmgr-bdy-top{
display:flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
/* border: 2px solid yellow; */

}

.pmgr-bdy-top-1{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

input[type=range] {
        /* border: 1px solid blue; */
        width: 100%;

}

.pmgr-bdy-mid-2{
   display: flex;
   justify-content: space-between; 
}

.generate-btn-dv{
    display: flex;
    justify-content: center;
}
